<div class="container">
  <div class="d-flex justify-content-center">
    <h1>編輯餐廳</h1>
  </div>
  <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="name">中文名稱</label>
        <input type="text" class="form-control" name="name" id="name" value="{{restaurant.name}}" required>
      </div>
      <div class="form-group col-md-5">
        <label for="name_en">英文名稱</label>
        <input type="text" class="form-control" name="name_en" id="name_en" value="{{restaurant.name_en}}" required>
      </div>
      <div class="form-group col-md-2">
        <label for="category">類別</label>
        <input type="text" class="form-control" name="category" id="category" value="{{restaurant.category}}" required>
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="phone">電話</label>
          <input type="text" class="form-control" name="phone" id="phone" value="{{restaurant.phone}}" required>
        </div>
        <div class="form-group col-md-2">
          <label for="rating">評分</label>
          <input type="text" class="form-control" name="rating" id="rating" value="{{restaurant.rating}}" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="image">照片</label>
      <input type="text" class="form-control" name="image" id="image" value="{{restaurant.image}}" required>
    </div>
    <div class="form-group">
      <label for="location">地址</label>
      <input type="text" class="form-control" name="location" id="location" value="{{restaurant.location}}" required>
    </div>
    <div class="form-group">
      <label for="google_map">地圖</label>
      <input type="text" class="form-control" name="google_map" id="google_map" value="{{restaurant.google_map}}"
        required>
    </div>
    <div class="form-group">
      <label for="description">描述</label>
      <textarea class="form-control" name="description" id="description" required>{{restaurant.description}}</textarea>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">編輯完成</button>
    </div>
  </form>
</div>